<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>DataPoint List</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
        function sortTable(column) {
            const sortOrder = $('#sortOrder').val() === 'asc' ? 'desc' : 'asc';
            let url = '/data-points';
            const category = getCategoryFromUrl();
            if (category) {
                url += '/' + category;
            }
            url += '?sortColumn=' + column + '&sortOrder=' + sortOrder;
            window.location.href = url;
        }

        function getCategoryFromUrl() {
            const path = window.location.pathname;
            const pathParts = path.split('/');
            if (pathParts.length >= 3 && pathParts[1] === 'data-points') {
                return pathParts[2];
            }
            return null;
        }
    </script>
</head>
<body>
<h1>DataPoint List</h1>

<table border="1">
    <thead>
    <tr>
        <th><a href="javascript:void(0)" onclick="sortTable('category')">Job Function</a></th>
        <th><a href="javascript:void(0)" onclick="sortTable('jobPageUrl')">Job Page URL</a></th>
        <th><a href="javascript:void(0)" onclick="sortTable('positionName')">Position Name</a></th>
        <th><a href="javascript:void(0)" onclick="sortTable('urlToOrganization')">URL to Organization</a></th>
        <th><a href="javascript:void(0)" onclick="sortTable('logo')">Logo</a></th>
        <th><a href="javascript:void(0)" onclick="sortTable('organizationTitle')">Organization Title</a></th>
        <th><a href="javascript:void(0)" onclick="sortTable('laborFunction')">Labor Function</a></th>
        <th><a href="javascript:void(0)" onclick="sortTable('location')">Location</a></th>
        <th><a href="javascript:void(0)" onclick="sortTable('postedDate')">Posted Date</a></th>
        <th><a href="javascript:void(0)" onclick="sortTable('tagsNames')">Tags Names</a></th>
        <th><a href="javascript:void(0)" onclick="sortTable('description')">Description</a></th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="dataPoint : ${dataPoints}">
        <td th:text="${dataPoint.category}"></td>
        <td th:text="${dataPoint.jobPageUrl}"></td>
        <td th:text="${dataPoint.positionName}"></td>
        <td th:text="${dataPoint.urlToOrganization}"></td>
        <td th:text="${dataPoint.logo}"></td>
        <td th:text="${dataPoint.organizationTitle}"></td>
        <td th:text="${dataPoint.laborFunction}"></td>
        <td>
            <ul>
                <li th:each="location : ${dataPoint.location}" th:text="${location.location}"></li>
            </ul>
        </td>
        <td>
            <span th:text="${#dates.format(dataPoint.postedDate * 1000, 'dd-MM-yyyy HH:mm:ss')}"></span>
        </td>
        <td>
            <ul>
                <li th:each="tagName : ${dataPoint.tagsNames}" th:text="${tagName.tagsNames}"></li>
            </ul>
        </td>
        <td th:text="${dataPoint.description}"></td>
    </tr>
    </tbody>
</table>

<input type="hidden" id="sortColumn" th:value="${param.sortColumn}">
<input type="hidden" id="sortOrder" th:value="${param.sortOrder}">

</body>
</html>